/*html5*/
    header,footer,section,aside,article,nav,dialog,figure{display:block;}
/*reset*/
    img{border:0;max-width:100%;}
    a{text-decoration:none;}
    a:hover{text-decoration:none;}
    body,.css-reset *{margin:0;padding:0;}
    em{font-style:normal;}
    ul, ol, li{list-style:none;}
    input,textarea,a{
        /*-webkit-appearance:none;*/
    -webkit-tap-highlight-color:rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    }
    body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
    textarea{resize:none} /* 取消chorm下的可拖动大小 */
    h1,h2,h3,h4,h5,h6{font-size:100%; font-weight: normal;}
    a, span{display: inline-block;}
    img{vertical-align: top;}
    *{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/*clear*/
    .clearfix:after{content:" ";height:0;visibility:hidden;display:block;clear:both;}
    * html .clearfix{zoom:1;}/*IE6*/
    *:first-child+html .clearfix{zoom:1;}/*IE7*/
    html, body{height: 100%;}
    body{font-size:14px; font-family:"microsoft yahei","SimHei","DroidSansFallback","微软雅黑","宋体",Arial; background: #efefef; line-height:1.8;}
/* table */

table {width: 100%; color:#333333; border-width: 1px; border-color: #dad0d3; border-collapse: collapse; background: #fff;}
table th{line-height: 32px; font-size: 13px; border: 1px solid #dad0d3; border-right-color: #fff; font-weight: normal;}
table td{padding: 4px 0 5px; font-size: 9px; line-height: 23px; background-color: #ffffff; text-align: center;  border-bottom: 1px dashed #e5e5e5; cursor: pointer;}

/*yichu*/
.sl{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}


















